<html>
    <head>
        <title>Name [PORTFOLIO]</title>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <b><font size="6"><p align="center">FN</font><font size="4">ame </font><font size="6">LN</font><font 
            size=4>NAME </font><font size="2"><br>3555 Farnam Street<br>Omaha, NE 68131</font><br>PORTFOLIO</b><font 
            size=1>&nbsp;</p></font>
            <br>
            <hr>
            <br>
            <a href="">About Me Message (QR code to save as business card)</a>
            <a href="">Companies</a>
            <a href="">LinkedIn</a>
            <a href="">GitHub</a>
            <a href="">Collaborate/Contact</a>
            <a href="">Current Running Projects</a>
            <a href="">Other/Non-profit/Charity</a>
            <a href="">Research</a>
            <a href="">Books</a>
            <a href="">Full CV</a>
    </body>    
</html>