<html>
    <head>
        <title>[PORTFOLIO]</title>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <h1 style="text-align: center;">Non-Profit</h1>
        <hr>
        <h3>- Interns Network Initiative | Oct 2024 - Present</h3>
        <p>
            I started the Interns Network Initiative to connect Stage 3 students or those with internship experience with students who lack 
            experience. Through mentorship, experienced students help guide others on CV building, skill development, and the application process,
             bridging the gap between academic learning and real-world opportunities.
        </p>
        <hr>
    </body>    
</html>