<html>
    <head>
        <title>[PORTFOLIO]</title>
    </head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <h1 style="text-align: center;">Projects</h1>
        <hr>
        <h3>Project 1 (Java) - Work in Progress</h3>
        <p>Desktop application - Multi-Task Bar</p>
        <hr>
        <h3>Project 2 (Python) - Work in Progress</h3>
        <p>Security Shield</p>
        <hr>
        <h3>Linking People (C++) - Completed</h3>
        <p>Experiment: Implementing DFS and BFS for finding links between people across different professions.</p>
        <hr>
        <h3>Internet Knowledge Explorer (Python | HTML | CSS | JS) - Completed (Team Project)</h3>
        <p>
            (DevPost Description) Hackathon Project: The theme - Exploration; inspired us to delve into concepts that are often challenging to visualize or comprehend using traditional,
            real-world frameworks. We wanted to create an experience that enables users to explore something abstract, pushing beyond the
            boundaries of tangible, everyday ideas. Our project, therefore, is designed to bring complex, intangible ideas to life through
            interactive visualization.
        </p>
        <p>
            By blending technology with imagination, we aim to create a tool that encourages users to navigate and uncover layers of meaning in
            a space that isn’t confined by physical limitations. This pursuit of visualizing the "unseen" forms
            the foundation of our project and inspires its functionality. We hope to help users engage with these abstract concepts in a way
            that is both educational and thought-provoking.
        </p>
        <hr>
    </body>    
</html>